
*{
    margin: 0;
    padding: 0;
}

.page{
    background: linear-gradient(270deg, #dd4f1b -5.09%, #fffb02 106.28%) ;
    width:100% ;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    height: 100vh;
    
}

.container{
    background: #ffffff;
    width: 600px;
    height: 600px;
    border-radius: 30px;
    transition: 0.8s;
    text-align: center;
}

.container:hover{
    transform: scale(1.05);
}

.container h2{
    margin-top: 30px;
    font-size: 30px;
    
}